* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}
.samedesign {
  border: 2px solid zinc;
  border-radius: 5px;
  padding: 10px;
}
#flw {
  color: black;
  background-color: white;
  border: 2px solid zinc;
  border-radius: 5px;
  padding: 10px;
}
#flw:hover {
  cursor: pointer;
}
